.r-1xhq7m8 {
    background-color: rgba(255,255,255, 0.11);
}
.r-1ljd8xs {
    border-left-width: 1px;
}
.r-nf0wr4 {
    border-left-color: rgb(34, 47, 66);
}
.r-3da1kt {
    height: 8px;
}
.r-rbcgs0 {
    flex: 0.0078125 1 0%;
}
.css-175oi2r {
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}


.r-13awgt0 {
    flex: 1 1 0%;
}
.css-175oi2r {
    align-items: stretch;
    background-color: rgba(255, 255, 255, 0);
    border: 0px solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.css-175oi2r {
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.r-1jgtity {
    flex: 0.171875 1 0%;
}
.r-rbcgs0 {
    flex: 0.0078125 1 0%;
}
.r-15ffqzv {
    flex: 0.0390625 1 0%;
}
.r-7hmuw6 {
    flex: 0.125 1 0%;
}
.r-10g5efv {
    width: 4px;
}
.r-1v95jva {
    flex: 0.0759494 1 0%;
}
.r-1uob4ff {
    flex: 0.0316456 1 0%;
}
.r-ltw3wx {
    flex: 0.164557 1 0%;
}
.r-1bf5f1j {
    flex: 0.126582 1 0%;
}

.r-18u37iz {
    flex-direction: row;
}

.r-h44fzh {
    font-family: FiraCode-SemiBold, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, Inter-serif;
}

.r-1un1bq5 {
    line-height: 11.7px;
}

.r-qqjak8 {
    font-size: 9px;
}

.r-jwli3a {
    color: rgb(255, 255, 255);
}


.r-1x8pa72 {
    background-color: rgb(0, 119, 170);
}


.r-1ljd8xs {
    border-left-width: 1px;
}

.r-nf0wr4 {
    border-left-color: rgb(34, 47, 66);
}

.r-3da1kt {
    height: 8px;
}

.r-15ffqzv {
    flex: 0.0390625 1 0%;
}

.r-1d62t4v {
    background-color: rgb(207, 255, 255);
}


.r-1ljd8xs {
    border-left-width: 1px;
}

.r-nf0wr4 {
    border-left-color: rgb(34, 47, 66);
}

.r-3da1kt {
    height: 8px;
}

.r-1uob4ff {
    flex: 0.0316456 1 0%;
}

.r-1wtj0ep {
    justify-content: space-between;
}

.r-18u37iz {
    flex-direction: row;
}

.r-s1qlax {
    padding-left: 4px;
    padding-right: 4px;
}

.r-13awgt0 {
    flex: 1 1 0%;
}


/* colorbar规则 */

.r-nf0wr4 {
    border-left-color: rgb(34, 47, 66);
}

.r-1ljd8xs {
    border-left-width: 1px;
}
.r-1xhq7m8 {
    background-color: rgba(255,255,255, 0.8);
}
.r-zqjtiv {
    background-color: rgba(255,255,255, 0.8);
}
.r-dvzoyq {
    background-color: rgba(255,255,255, 0.8);
}
.r-pu01j5 {
    background-color: rgba(255,255,255, 0.8);
}
.r-tvgs7k {
    background-color: rgba(255,255,255, 0.85);
}
.r-uhjwym {
    background-color: rgba(255,255,255, 0.85);
}
.r-139vr2z {
    background-color: rgba(255,255,255, 0.88);
}
.r-izy94v {
    background-color: rgba(255,255,255, 0.9);
}
.r-1hghi6d {
    background-color: rgba(255,255,255, 0.9);
}
.r-1dqc4s9 {
    background-color: rgba(146, 136, 113, 0.9);
}
.r-1dsar6e {
    background-color: rgba(146, 136, 113, 0.58);
}
.r-c5xvv7 {
    background-color: rgba(146, 136, 113, 0.64);
}
.r-l19alr {
    background-color: rgba(146, 136, 113, 0.69);
}
.r-1f0v7jk {
    background-color: rgba(146, 136, 113, 0.75);
}
.r-1d88btl {
    background-color: rgba(206, 192, 135, 0.8);
}
.r-17nvjlg {
    background-color: rgba(206, 192, 135, 0.84);
}
.r-1o3pdsy {
    background-color: rgba(206, 192, 135, 0.88);
}
.r-14ruti1 {
    background-color: rgba(206, 192, 135, 0.92);
}
.r-181d05z {
    background-color: rgba(206, 192, 135, 0.96);
}
.r-7p6d7r {
    background-color: rgb(136, 221, 238);
}
.r-1btxm3f {
    background-color: rgb(0, 153, 204);
}
.r-1x8pa72 {
    background-color: rgb(0, 119, 170);
}
.r-1q47kou {
    background-color: rgb(0, 85, 136);
}
.r-1w4z2tr {
    background-color: rgb(255, 238, 0);
}
.r-1q2es5y {
    background-color: rgb(255, 170, 0);
}
.r-i4d48k {
    background-color: rgb(255, 119, 0);
}
.r-1d22k53 {
    background-color: rgb(255, 68, 0);
}
.r-1oeyliu {
    background-color: rgb(238, 0, 0);
}
.r-wrsnpx {
    background-color: rgb(153, 0, 0);
}
.r-ngu2q4 {
    background-color: rgb(255, 170, 255);
}
.r-xv34a {
    background-color: rgb(255, 68, 255);
}
.r-1lm2zzs {
    background-color: rgb(255, 119, 255);
}
.r-acujxj {
    background-color: rgb(255, 0, 255);
}
.r-nosuuz {
    background-color: rgb(170, 0, 170);
}


/** 右侧定义 */
.r-nf0wr4 {
    border-left-color: rgb(34, 47, 66);
}

.r-xb55yp {
    background-color: rgb(239, 255, 255);
}
.r-k0mgxu {
    background-color: rgb(223, 255, 255);
}
.r-1d62t4v {
    background-color: rgb(207, 255, 255);
}
.r-3uqati {
    background-color: rgb(191, 255, 255);
}
.r-1o2qzfj {
    background-color: rgb(175, 255, 255);
}
.r-1szzjad {
    background-color: rgb(159, 255, 255);
}
.r-cmqam2 {
    background-color: rgb(159, 223, 255);
}
.r-1y246uu {
    background-color: rgb(127, 191, 255);
}
.r-wtt4id {
    background-color: rgb(95, 159, 255);
}
.r-xrzhef {
    background-color: rgb(79, 143, 255);
}
.r-6kiv3f {
    background-color: rgb(63, 127, 255);
}
.r-a14vob {
    background-color: rgb(47, 111, 255);
}
.r-116wz2 {
    background-color: rgb(31, 95, 255);
}
.r-16wvfs9 {
    background-color: rgb(15, 79, 255);
}
.r-1f2avv2 {
    background-color: rgb(0, 63, 255);
}
.r-cqtz7c {
    background-color: rgb(0, 47, 255);
}
.r-1q5i44q {
    background-color: rgb(0, 31, 255);
}
.r-1m5dm9 {
    background-color: rgb(0, 15, 255);
}
.r-57dg7b {
    background-color: rgb(0, 0, 255);
}


.r-18u37iz {
    flex-direction: row;
}
.r-13qz1uu {
    width: 100%;
}